.shop {
  grid-column: center-start / center-end;
  margin: 8rem 0;
  display: flex;
  color: #dce4c7;

  &__cart {
    flex: 2 1;

    table {
      display: flex;
      flex-direction: column;
      padding: 0 2rem;
    }

    thead {
      background-color: #252c30;
    }

    tr {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      justify-content: center;
      align-items: center;
    }

    th {
      padding: 0.9rem 1.2rem;
      font-size: 1.5rem;
      width: 100%;
    }

    td {
      justify-self: center;
    }
  }
  &__totals {
    flex: 1 1;
    display: flex;
    flex-direction: column;

    div {
      margin-bottom: 1.5rem;
    }

    &--cupon {
      display: flex;
      justify-content: center;
      margin-bottom: 2rem;

      input {
        flex: 2;
        font-size: 1.8rem;
        padding: 0.8rem;
        background-color: transparent;
        border: none;
        border: solid 2px $color-secondary;
        color: $color-white;
      }

      input:active,
      input:focus {
        outline: none;
      }

      button {
        flex: 1;
        cursor: pointer;
        color: inherit;
        background-color: transparent;
        border: none;
        border: 0.2rem solid $color-secondary;
        text-align: center;
        font-weight: 600;
        transition: all 0.3s;
      }
      button:hover {
        background-color: $color-secondary;
        color: $color-primary;
      }
    }

    &--box {
      background-color: $color-primary-2;
      padding: 2rem;
      display: flex;
      flex-direction: column;

      h2 {
        font-size: 1.8rem;
      }
    }

    &--item {
      display: flex;
      margin: 0.7rem 0;
      p {
        margin-right: auto;
      }
    }

    a {
      cursor: pointer;
      color: inherit;
      background-color: transparent;
      text-transform: uppercase;
      padding: 0.6rem 0;
      font-size: 2rem;
      border: none;
      border: 0.2rem solid $color-secondary;
      text-align: center;
      font-weight: 600;
      margin-bottom: 0.5rem;
      transition: all 0.3s;
    }

    a:hover {
      background-color: $color-secondary;
      color: $color-primary;
    }
  }
}

.cart-item {
  padding: 3rem 0;
  border-bottom: 0.2rem solid $color-white;
}

.cart-title {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.cart-close-icon {
  button {
    background-color: transparent;
    border: none;
    font-size: 2rem !important;
    cursor: pointer;
  }
}

.cart-cancel-icon {
  color: #dce4c7 !important;
  transition: all 0.2s !important;
}

.cart-close-icon button:hover .cart-cancel-icon {
  color: $color-secondary !important;
}

.cart-img {
  img {
    max-width: 8rem;
    width: 100%;
  }
}

.cart-qty {
  display: flex;
  align-items: center;

  & > * {
    padding: 0.5rem;
  }

  button {
    border: none;
    background-color: transparent;
    padding: 0;
    display: flex;
    color: #dce4c7;
    cursor: pointer;
    transition: all 0.3s;
  }

  button:hover {
    color: $color-secondary;
  }

  p {
    font-size: 1.8rem;
  }
}
