//COLORS
$color-primary: #121618;
$color-primary-2: #1d2326;

$color-secondary: #ffc851;

$color-white: #fff;

$color-font: #1e1f1b;

//FONTS

$font-family-1: "Lato", sans-serif;
$font-family-2: "PT Sans Narrow", sans-serif;
