*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: $font-family-1;
  color: $color-white;
  background-color: $color-primary;
  font-weight: 300;
  line-height: 1.6;
  font-size: 1.6rem;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:active,
a:focus {
  outline: none;
}

.container {
  display: grid;
  grid-template-rows: 25rem;
  grid-template-columns:
    [full-start] minmax(6rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [center-end] minmax(6rem, 1fr)
    [full-end];
}

main {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns:
    [full-start] minmax(6rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [center-end] minmax(6rem, 1fr)
    [full-end];
}

.container-home {
  width: 114rem;
  margin: 0 auto;
}

.title {
  grid-column: full-start / full-end;
  background-image: linear-gradient(
      rgba($color-secondary, 0.8),
      rgba($color-secondary, 0.8)
    ),
    url("../../images/menu_title.jpg");
  text-align: center;
  padding: 6rem 0;
  color: $color-primary;
  text-transform: uppercase;

  h6 {
    font-size: 4rem;
    font-weight: 500;
  }
}